In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://en.wikipedia.org/w/index.php?title=List_of_Falcon_9_and_Falcon_Heavy_launches&oldid=1027686922"

In [3]:
dfs = pd.read_html(url)

In [4]:
df_list = []
for x in dfs:
    if len(x.columns) == 10:
        df_list.append(x)
df=pd.concat(df_list,ignore_index= True)

In [5]:
df.shape

(257, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Flight No.           257 non-null    object
 1   Date andtime (UTC)   257 non-null    object
 2   Version,Booster [b]  15 non-null     object
 3   Launch site          139 non-null    object
 4   Payload[c]           257 non-null    object
 5   Payload mass         255 non-null    object
 6   Orbit                257 non-null    object
 7   Customer             257 non-null    object
 8   Launchoutcome        257 non-null    object
 9   Boosterlanding       257 non-null    object
 10  Version,Booster[b]   242 non-null    object
 11  Launchsite           118 non-null    object
dtypes: object(12)
memory usage: 24.2+ KB

In [7]:
df.columns

Index(['Flight No.', 'Date andtime (UTC)', 'Version,Booster [b]',
       'Launch site', 'Payload[c]', 'Payload mass', 'Orbit', 'Customer',
       'Launchoutcome', 'Boosterlanding', 'Version,Booster[b]', 'Launchsite'],
      dtype='object')

In [8]:
df['Version,Booster[b]']=df['Version,Booster[b]'].fillna(df['Version,Booster [b]'])
df['Launch site']=df['Launch site'].fillna(df['Launchsite'])
df=df.drop(columns=['Version,Booster [b]', 'Launchsite'])

In [9]:

df.isnull().sum()

Flight No.            0
Date andtime (UTC)    0
Launch site           0
Payload[c]            0
Payload mass          2
Orbit                 0
Customer              0
Launchoutcome         0
Boosterlanding        0
Version,Booster[b]    0
dtype: int64

In [10]:
df=df.rename(columns={
    'Version,Booster[b]': 'Version Booster',
    'Payload[c]':'Payload',
    'Launchoutcome':'Launch Outcome',
    'Boosterlanding':'Booster Landing',
    'Launchsite':'Launch Site',
    'Date andtime (UTC)':'Date'
})
df=df[df.duplicated(subset=['Flight No.'], keep='last')]

In [11]:
df.head(5)

,Flight No.,Date,Launch site,Payload,Payload mass,Orbit,Customer,Launch Outcome,Booster Landing,Version Booster
0,1,"4 June 2010,18:45","CCAFS,SLC-40",Dragon Spacecraft Qualification Unit,NaN,LEO,SpaceX,Success,Failure[9][10](parachute),F9 v1.0[7]B0003.1[8]
2,2,"8 December 2010,15:43[13]","CCAFS,SLC-40",Dragon demo flight C1(Dragon C101),NaN,LEO (ISS),NASA (COTS) NRO,Success[9],Failure[9][14](parachute),F9 v1.0[7]B0004.1[8]
4,3,"22 May 2012,07:44[17]","CCAFS,SLC-40",Dragon demo flight C2+[18](Dragon C102),"525 kg (1,157 lb)[19]",LEO (ISS),NASA (COTS),Success[20],No attempt,F9 v1.0[7]B0005.1[8]
6,4,"8 October 2012,00:35[21]","CCAFS,SLC-40",SpaceX CRS-1[22](Dragon C103),"4,700 kg (10,400 lb)",LEO (ISS),NASA (CRS),Success,No attempt,F9 v1.0[7]B0006.1[8]
7,4,"8 October 2012,00:35[21]","CCAFS,SLC-40",Orbcomm-OG2[23],172 kg (379 lb)[24],LEO,Orbcomm,Partial failure[25],No attempt,F9 v1.0[7]B0006.1[8]

In [12]:
date=df['Date'].str.replace('\[\d{2}.*', '',regex=True)
date=date.str.replace(',','')
date=date.str.extract('(\d{1}|\d{2})( .* )(\d\d\d\d)')
date = date[0] + date[1] + date[2]
df['Date']=pd.to_datetime(date)

In [13]:
df['Payload']=df['Payload'].str.replace('\[\d.*', '', regex=True)
df['Payload mass']=df['Payload mass'].str.replace('kg.*', '', regex=True)
df['Orbit']=df['Orbit'].str.replace('\(.*', '', regex=True)
df['Customer']=df['Customer'].str.replace('\(.*', '', regex=True)
df['Launch Outcome']=df['Launch Outcome'].str.replace('\[\d.*', '', regex=True)
df['Booster Landing']=df['Booster Landing'].str.replace('\[\d.*', '', regex=True)
df['Version Booster']=df['Version Booster'].str.replace('\[\d]', '', regex=True)

In [14]:
df.head(5)

,Flight No.,Date,Launch site,Payload,Payload mass,Orbit,Customer,Launch Outcome,Booster Landing,Version Booster
0,1,2010-06-04,"CCAFS,SLC-40",Dragon Spacecraft Qualification Unit,NaN,LEO,SpaceX,Success,Failure,F9 v1.0B0003.1
2,2,2010-12-08,"CCAFS,SLC-40",Dragon demo flight C1(Dragon C101),NaN,LEO,NASA,Success,Failure,F9 v1.0B0004.1
4,3,2012-05-22,"CCAFS,SLC-40",Dragon demo flight C2+,525,LEO,NASA,Success,No attempt,F9 v1.0B0005.1
6,4,2012-10-08,"CCAFS,SLC-40",SpaceX CRS-1,"4,700",LEO,NASA,Success,No attempt,F9 v1.0B0006.1
7,4,2012-10-08,"CCAFS,SLC-40",Orbcomm-OG2,172,LEO,Orbcomm,Partial failure,No attempt,F9 v1.0B0006.1

In [44]:
df.to_csv('../Datasets/dataset2.csv')